.song_pic{
    border:1px solid black;
    width: 200px;
    box-sizing: border-box;
    text-align: center;
    }
.song_pic img{
    width: 180px;
    height:180px;
}
.song_pic p{
    font-weight: bold;
}